<section class="user-section">
  <h2>
     <figure>
				<%= gravatar_image_tag(@user.email, size: 64, alt: current_user.name) %>
		 </figure>
    <%=  @user.name %> </h2>
          
    <br></br>
   <%= button_display(@user) %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
